<div class="container">
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Promedios">
      <ng-template ngbTabContent>
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="radarChartData"
                [options]="radarChartOptions"
                [labels]="radarChartLabels"
                [chartType]="radarChartType">
              </canvas>
            </div>
          </div>
      </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Pasos">
      <ng-template ngbTabContent>
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Fecha:
            <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
            </ngb-datepicker>
            
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
          <div class="col-md-4">
            Filtrar por:
            <select class="btn-primary" [(ngModel)]="filteroption">
              <option value="%Y-%m">Mes</option>
              <option value="%Y-%m-%d" selected>Dia</option>
              <option value="%Y-%m-%d:%H">Hora</option>
              <option value="%Y-%m-%d:%H:%M">Minutos</option>
            </select>
            <br>
            <br>
            <button class="btn btn-success" (click)="filterSteps()">Filtrar</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Ritmo Cardiaco">
       
<ng-template ngbTabContent>
  <fusioncharts
          [type]="type"
          [width]="width"
          [height]="height"
          [dataSource]="dataSource"
        ></fusioncharts>
</ng-template>
    </ngb-tab>
    <ngb-tab title="Ubicacion">
      <ng-template ngbTabContent>
        <div #mapContainer id="map"></div>
      </ng-template>
          </ngb-tab>
          <ngb-tab title="Relaciones">
            <ng-template ngbTabContent>
              <fusioncharts
                      [type]="type"
                      [width]="width"
                      [height]="height"
                      [dataSource]="dataSource"
                    ></fusioncharts>
            </ng-template>
                </ngb-tab>
  </ngb-tabset>
</div>

<hr>
<br>
<br>
