<div class="container">
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Promedios">
      <ng-template ngbTabContent>
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="radarChartData"
                [options]="radarChartOptions"
                [labels]="radarChartLabels"
                [chartType]="radarChartType">
              </canvas>
            </div>
          </div>
      </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Pasos">
      <ng-template ngbTabContent>
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Fecha:
            <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
            </ngb-datepicker>
            
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
          <div class="col-md-4">
            Filtrar por:
            <select class="btn-primary" [(ngModel)]="filteroption">
              <option value="%Y-%m">Mes</option>
              <option value="%Y-%m-%d" selected>Dia</option>
              <option value="%Y-%m-%d:%H">Hora</option>
              <option value="%Y-%m-%d:%H:%M">Minutos</option>
            </select>
            <br>
            <br>
            <button class="btn btn-success" (click)="filterSteps()">Filtrar</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Sensores">
       
<ng-template ngbTabContent>
  <fusioncharts
          [type]="type"
          [width]="width"
          [height]="height"
          [dataSource]="dataSource"
        ></fusioncharts>
</ng-template>
    </ngb-tab>
    <ngb-tab title="Ubicacion">
      <ng-template ngbTabContent>
        <ngb-tabset [destroyOnHide]="false">
          <ngb-tab title="Todos">
            <ng-template ngbTabContent>
              <div #mapContainer id="map"></div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Mochila Abierta">
            <ng-template ngbTabContent><div #mapContainerR id="map"></div>
              <h3>Mochila Abierta: {{this.robberydata.length}} veces</h3> 
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-template>
          </ngb-tab>
          <ngb-tab title="Relaciones">
            <ng-template ngbTabContent>
              <fusioncharts
                      type="scatter"
                      [width]="width"
                      height="800"
                      [dataSource]="scatterchart"
                    ></fusioncharts>
                    <br>
                    <br>
                    Eje X:
                    <select class="btn-primary" [(ngModel)]="xaxis">
                      <option value="Ritmo Cardiaco" selected>Ritmo Cardiaco</option>
                      <option value="Pasos">Pasos</option>
                      <option value="Agua">Agua</option>
                      <option value="Peso">Peso</option>
                      <option value="Luz">Luz</option>
                      <option value="Sonido">Sonido</option>
                      <option value="Posicion">Peso</option>
                    </select>
                    Eje Y:
                    <select class="btn-primary" [(ngModel)]="yaxis">
                      <option value="Ritmo Cardiaco">Ritmo Cardiaco</option>
                      <option value="Pasos" selected>Pasos</option>
                      <option value="Agua">Agua</option>
                      <option value="Peso">Peso</option>
                      <option value="Luz">Luz</option>
                      <option value="Sonido">Sonido</option>
                      <option value="Posicion">Posicion</option>
                    </select>
                    
                    <button class="btn btn-success" (click)="graphRelation()">Graficar</button>
            </ng-template>
                </ngb-tab>
  </ngb-tabset>
</div>

<hr>
<br>
<br>
